# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
config/local.yml
.editorconfig

# Django
/meetings/db*
/meetings/api/migrations/0*

db.sqlite3

.DS_Store

*.egg-info
*.pot
*.py[co]
00*
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
tests/coverage_html
tests/.coverage
build/
tests/report
