---
language: python
node_js:
  - "2.7"

sudo: false

cache:
  directories:
    - node_modules

before_install:
  - npm config set spin false
  - npm install -g bower
  - npm install phantomjs-prebuilt
  - npm install jshint

install:
#  - npm install
#  - bower install
  - travis_retry pip install --upgrade pip
  - travis_retry pip install invoke==0.13.0
  - travis_retry pip install flake8==2.4.0 --force-reinstall --upgrade
  - travis_retry invoke requirements

script:
  - invoke test_all
