{% load i18n %}
{% load account socialaccount %}
{% load compress %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% compress css %}
    <link rel="stylesheet" type="text/scss" href="{% static 'app.scss' %}" />
{% endcompress %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		testing the old bootstrap guy
		</div>
		<div class="col-md-3">
		testing the old bootstrap guy
		</div>
	</div>
</div>

<h2>{% trans "Sign In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with the
Open Science Framework
{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

{% endblock %}